<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>

<!-- <main class="container bg-light text-dark p-5">
    <h5 class="display-4" style="margin: auto; text-align: center;">Awas Jomail</h5>
    <div class="container bg-light p-5">
    <div class="card" style="width: 40rem; margin: auto;">
    <img src="/Assets/images/awas_face.png" class="card-img-top" alt="Awas' picture">
    <div class="card-body">
    <p class="card-text"> An adaptable and detail-oriented student of software engineering with a proven acumen for STEM, including mathematics and technology. Strong critical thinking skills, with experience in programming, database development and applied research.</p>
    <p>Take a look at my <a class="a-link" href="/Assets/pdfs/Awas_Resume.pdf" target="blank">resume</a>.</p>
    </div>
</div>
    </div>
</main> -->




<!-- <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"> -->

<br>
  <h1>&nbsp;<%= title %></h1>
   <br>

   <!-- welcome msg-->
 <center><h4 class="txt">Welcome to <strong><%= title %> me</strong> page</h4></center>
  <br>
    <br>

    <!-- canadian flag for about me text-->
    <img id="flagImg" src="/Canada.png" alt="Canadian flag">
    
    <!-- about me text-->
    <p id="aboutMe">Hello, my name is Egor Shabalkin, I'm studying to be a software engineer technician at Centennial College. 
      I like to study everything related to IT, including electronics, as it is strongly related to Information Technology.
      I am also interested in cars, a bit of Cosmology, Psychology and some other areas. I know several programming languages and also a couple of foreign languages, including Russian and English.
      You can find more information about my skills and hobbies on the <a class="aboutHref" href="/skills">skills page</a>. I have been living in Canada for several years now, I am very happy with this country and would like to live here.</p>
      <br>

      <!-- contact me for resume text-->
 <center><a href="/contact#contact-me-anch" class="aboutHref">Contact me</a><span class="txt"> if you want to know more and see my resume.</span></center>

 <!--Centennial col logo -->
<br><center><img class="aboutImg" alt="Centennial Banner" src="/Centennial.jpg"></center><br><br><br>




<%- include partials/bottom_nav.ejs%>

<%- include partials/footer.ejs%>