<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>

<!-- <main class="container bg-light text-dark p-5">
  <div class="container bg-light p-5">
  <h5 class="display-4">Welcome to the <%= title %> page</h5>
  <p class="display-6">Get to know <a href="/about" class="a-link">me</a> more</p>
  <blockquote class="blockquote">
    <p class="mb-0">Innovative design with the latest Technologies.</p>
  </blockquote>
  </div>
</main> -->




 <!-- logo -->
 <!-- <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"> -->

  <!-- title -->
  <br>
    <h1>&nbsp;<%= title %></h1>

    <!-- header text-->
  <br>
   <center><h4 class="txt"><strong>Web assignment Express.js - Portfolio</strong></h4></center>
    <br>

  <!--sub header -->
  <center><p class="txt">Centennial College - Software Engineering Technician</p></center>
    <br>

    <!-- Mission Statement title-->
    <center><h5><strong>Mission Statement</strong></h5></center>

     <!-- Mission Statement text-->
    <center><p class="txt" id="ms">The world of software development is full of challenges and sometimes even suprises.
       For some people, software development is a backbreaking job, but in today's world, every company needs software, websites, databases, and much more in order to simply run their business.
       My mission is to provide a quality solution and development in a short time for a company in any field and point on earth.</p></center>
    <br>

    <!-- home page image-->
 <center><img  class="homeImg" alt="Home Banner" src="/home_ban.jpg"></center>

  <br>
    <br>
      <br>


<%- include partials/bottom_nav.ejs%>

<%- include partials/footer.ejs%>