<%-include partials/header.ejs%>
 <%-include partials/main_nav.ejs%>
  
  <!-- <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"> -->

  <br>
   <h1>&nbsp;<%= title %></h1>

   <center><h4 class="txt">Welcome to <strong>my <%= title %></strong> page</h4></center><br>

   <!-- title for Programming skills section-->
<H5 id="progSk"><strong>Programming</strong></H5>

 <!-- Programming skills section-->
<label id="meterTxt" class="txt" for="html">HTML</label>
   <meter id="html" value="0.9"></meter><br>

<label id="meterTxt" class="txt" for="css">CSS</label>
   <meter id="css" value="8.4" min="0" max="10"></meter><br>

   <label id="meterTxt" class="txt" for="cSharp">C#</label>
   <meter id="cSharp" value="7.4" min="0" max="10"></meter><br>

<label id="meterTxt" class="txt" for="JS">JavaScript</label>
   <meter id="JS" value="6.8" min="0" max="10"></meter><br>

<label id="meterTxt" class="txt" for="EJS">Express.js</label>
   <meter id="EJS" value="6" min="0" max="10"></meter><br>

   
   <!-- title for Language skills section-->
   <H5 id="langSk"><strong>Language</strong></H5>

   <!-- Language skills section-->
<label id="russ" class="txt2" for="rus">Russian</label>
   <meter id="rus" value="0.96"></meter><br>

<label id="engl" class="txt2" for="eng">English</label>
   <meter id="eng" value="9.2" min="0" max="10"></meter><br>

   <label id="ger" class="txt2" for="de">German</label>
   <meter id="de" value="2" min="0" max="10"></meter><br>

   <label id="sp" class="txt2" for="spsh">Spanish</label>
   <meter id="spsh" value="0.8" class="meters" min="0" max="10"></meter><br>

<label id="ja" class="txt2" for="jap">Japanese</label>
   <meter id="jap" value="0.25" min="0" max="10"></meter>

<!-- title for Hobbies section-->
<center><h4><strong>Hobbies</strong></h4></center><br>

<!-- Hobbies section -->
  <center><span class="hobby">Programming</span>
      <span class="hobby">Electronics</span>
         <span class="hobby">Automobiles</span>
            <span class="hobby">Psychology</span>
               <span class="hobby">Cosmology</span></center>

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

