<%- include ../partials/header.ejs%>
<%- include ../partials/main_nav.ejs%>

<main class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h1><%= title %></h1>
            <!--Add a contact button-->
            <a href="/contact-list/add" class="btn btn-primary" role="button"><i class="fas fa-plus-circle"></i> Add a Contact</a>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!--Table header-->
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center col-2">Phone Number</th>
                    <th class="text-center">Email</th>
                    <th class="text-content col-1"></th>
                    <th class="text-content col-1"></th>
                </tr>

                <!--Repeatable table row-->
                <% ContactList.sort; %>
                <% for(let count = 0; count < ContactList.length; count++) { %>
                    <tr>
                        <td class="text-center"><%=ContactList[count].name %></td>
                        <td class="text-center"><%=ContactList[count].phone_number %></td>
                        <td class="text-center"><%=ContactList[count].email %></td>
                        <td class ="text-center col-1"><a href="/contact-list/edit/<%=ContactList[count]._id%>" class="btn btn-primary"><i class="fas fa-pencil-alt"></i>Edit</a></td>
                        <td class ="text-center col-1"><a href="/contact-list/delete/<%=ContactList[count]._id%>" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</a></td> 
                    </tr>
                    <% } %>
            </table>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs%>

<%- include ../partials/footer.ejs%>